language: ruby
sudo: required
services:
- docker
before_install:
- gem update --system
- gem install bundler
rvm:
- 2.5.0
script:
- bundle exec rspec
after_success:
- continuous_deployment/docker_build_and_push.sh
- continuous_deployment/ecs_deploy.sh
notifications:
  slack:
    rooms:
      - secure: pb6HATvU9tjLxeGnN49HT5R6m3/eeS3Sj0F3BOb0zX0BSKAOj5NRjVUAnFTsViUYXe1MFlNhQqulKezdHUqamJyjMatTqOzqJjC1bxBCrVJ3VWv28NQIrEXRMDCDOA+oWbvW7F33PKHOkhcKl0HC+Sxz0CZwCsVBdgfbYAm//qeuGRlpZcHX7raroItGXyPVBdOhQlWP2gKj08/j/39eoCJycnmBeYD8mTXf3uxzYkmM9HoKAKUFWO8Js7gqJoHvG00I3mKiZzH6zgRD8A0QUTkxO0X+vKPUU1oZKfn4tpkRv6ehyvl6AZAZ0fd+MUqA3zmoLl5xpCckVXuttgzsSZCQq4ehJMx13N4YZ6JTAfil4X8dM55TrI7Ynz9rD5RowxOB4MVPwwoNg0bDpKWeAw11lJIyGCkSkTFHsAEXfM4FOJeg5sTEauF2d7TsxTG4yAJiGfBy3G3m9Zs8Ee1umBRpyqS86OlgCOqe5VxaSBQmF6LD/xLT0+Fjdy1hXKwcaRlquOPCGc8j05A3OXvsH6P6ilHUgylLc12TqDmaFbC0HzZ6LuJG6+rxap+d0aE30J6jvZh9Z66O79KgeQad4qKRmHomscCe8YIYxEDsF1KDtPd921w1ZhXwte60CY+pH2zR33TZqJnsjD7LAsnOPo02/uunxp5+9pWlzwrUJno=
    on_success: change
    on_failure: always
env:
  global:
    secure: LlS9pQxoVO5HBhu6u/TacfJjpYEPB2Tg6WuAsGW35Q2q7gO1c+X0wJOsQLpK4rTyLOsMn6H6Djzoisrhl3HFbRxwM5EcWQ/P0hFpyWCYP7nBAEi8ZHHrFhC/QfVAnyubV78zGeFoE8cuG+D298/zMqIgY/0wJ5Dbfo1Mvj2PO8U7INxVy5r0xdMPLBP0nist6gAzIdy63JSQpGWkZJZMpcvj8BcM9WexQS+U+Lb+M+ef6uxJJhd6njlJH7RX4pQPqFLBgTOzeKs1yuu4QtU+TmXtQnMo4s2QjnpQSSLHk1oUKlLg6E5KlCFeVMC8I5Udsz2hr5tYxW/zO6Gdi7R2RzdBKKRoYX8RJs43B/U/arwsamHxIMT5hBqzGMefX7nYSYM9vmUsKuYjMhXNNjH4Bfj86IkcIzmcVTdB2OAQQwciCZF9e+3tfoji5JZFIPyX4zpFEudhtrTcvUO1Q6xYj592WdtYUxci6DlJFKlGypHMv6o7MUIJ/RhfAd6vG5DQBIR5wlOiwt7SxRg/TkEbkuLe7kndAVck/fZXsVr3r0TPesCdFP8VaqhnvezDe+2NfEV/ksSd/spfSRE6ESJNnCZZoUGelKb1Q+7XKX6cg6zw/CyUzQf86RQMOZWlbFsN7b2h4IyBSiKnQxmPRtLl4nEp+wSRZRtr0RAL6qals2Q=
