AWS_KEY=somekey
AWS_SECRET=somesecret
SQS_QUEUE_URL=https://sqs.us-west-1.amazonaws.com/SOMEID/name-here-get-this-all-from-aws-web-console
POLLING_INTERVAL_SECONDS=20
MINIMUM_MESSAGE_AGE_SECONDS=120
SCSB_API_URL=https://example.com:9093
SCSB_API_KEY=something_secret
NYPL_OAUTH_KEY=your_oauth_key
NYPL_OAUTH_URL=https://example.com/
NYPL_OAUTH_SECRET=a-long-secret
PLATFORM_API_URL=https://example.org
IS_DRY_RUN=false
SMTP_DOMAIN=email-smtp.us-east-1.amazonaws.com
SMTP_USER_NAME=a-username
SMTP_PASSWORD=a-password
EMAIL_FROM_ADDRESS=sender@example.com
EMAIL_CC_ADDRESSES=cc1@example.com,cc2@example.com
ENVIRONMENT=[development|production]
REDIS_DOMAIN_AND_PORT='127.0.0.1:6379'
COUNT=1 # Controls number of Resque workers
